---
layout: default
title: Categories
permalink: /categories/
---

<div class="home">
  <h1 class="page-heading">Categories</h1>

  <ul class="category-index">
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <li>
        <a href="#{{ category_name | slugify }}">{{ category_name }} ({{ category.last.size }})</a>
      </li>
    {% endfor %}
  </ul>

  <hr>

  <div class="category-lists">
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <h2 id="{{ category_name | slugify }}">{{ category_name }}</h2>
      <ul class="post-list">
        {% for post in category.last %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>

