<div class="sidebar">
     <img class="avatar-img" src="{{ site.avatar | relative_url }}">
     <p>{{ site.description }}</p>


     <strong>Socials</strong>
     <ul class="socials">
          {%- for link in site.social_links -%}
          <li class=social-list>
               <a href="{{ link.user_url }}">
               <i class="fa-brands fa-{{ link.platform | lowercase }}"></i>
               {{ link.platform | capitalize }}
          </a>
          {%- endfor -%}
     </ul>

     <hr>
     {%- include header.html -%}
</div>


