html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 12pt;
  line-height: 1.35;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #000;
  text-decoration: underline;
}


