
// The header
.header {
  margin-top: 10px;
  padding-bottom: 10px;
}

// The buttons for the header
.site-nav .trigger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

