.sidebar {
  flex: 1;
  margin: 30px;
}

     
.socials {
  padding: 0px;
}

.social-list {
  list-style-type: none;
}

.avatar-img {
  width: 200px; 
  height: 200px;
  object-fit: cover;
  object-position: 10% 20%;
  display: block;
  padding: 5px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sidebar {
    margin: 20px 0;
    text-align: center;
  }
  .avatar {
    width: 150px;
  }
  .socials {
    justify-content: center;
  }
}


@media (max-width: 480px) {
  .avatar {
    max-width: 120px;
  }
}
