---
---
/* assets/css/Styles.scss */

@use "general";
@use "sidebar";
@use "header";
@use "site";
@use "code";
@use "page";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* footers */
.footer {
    clear: both;
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.25);
    padding: 20px 0;
}
