---
layout: default
---
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    options: {
      processHtmlClass: 'tex2jax_process'
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li style="margin-bottom: 80px;"> {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        
        <span class="post-meta">
          {{ post.date | date: date_format }}
          
          {% if post.categories.size > 0 %}
            • <span>
                 {% for category in post.categories %}
                      {% assign category_slug = category | slugify %}
                      <a href="{{ '/categories/#' | append: category_slug | relative_url }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
                 {% endfor %}
            </span>
          {% endif %}
          </span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        <div class="post-content">
          {{ post.content }}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
